.profile {
  width: 60%;
  padding: 20px;
  background: white;
  box-shadow: 3px 5px 5px rgba(36, 34, 34, 0.438);
  border-radius: 10px;
  margin: 20px auto;

  h1 {
    text-align: center;
    color: #4fa791;
  }
}