.container {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-bottom: 0px !important;
  border-bottom: 1px solid rgba(92, 90, 90, 0.274);

  .user {
    display: flex;
    align-items: center;
    padding: 5px;
    text-align: start;

    .pa4{
      color: #dd1313;
      padding: 20px;
    }

    .username {
      display: block;
      
      p {
        padding: 2px;
        margin: 0;
      }
    }
  }

  .changes {
    display: grid;
    margin-left: auto;
    
    img {
      align-self: center;
    }
  }
}