.profile-nav {
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-evenly;
  background: rgb(243, 237, 237);
  padding: 0 20px;
  border-radius: 3px;
  box-shadow: 3px 5px 5px rgba(36, 34, 34, 0.438);
}